/* *{
  padding: 0;
  margin: 0;
  transition: .5s;
}

body{
  background-color: rgb(252, 243, 231);
}

header{
  display: flex;
  justify-content: center;
  background-color: lightblue;
  color: black;
  font-size: 2rem;
  width: 100%;
}

main{
  background-color: rgb(244, 233, 233);
  height: 15rem;
  width: 25rem;

  border-radius: 5px;
  border: .5px solid rgba(235, 226, 216, 0.822);
  
  margin: 2rem;
  padding: 10px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
}

button{
  background-color: lightblue;
  padding: 8px;
  border-radius: 5px;
  border: none;
  transition: opacity 1s;

  margin-bottom: 20px;
}

button:hover{
  opacity: .6;
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: center;
} /*