@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Pixelify+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  background-color: #fcf3e7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Pixelify Sans', sans-serif;
  padding-top: 4rem;
}

header {
  background-color: #a2d2ff;
  width: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #222;
  padding: 2rem 0;
  text-shadow: 1px 1px #fff;
  margin-bottom: 2rem;
}

main {
  background-color: #f4e9e9;
  width: 34rem;
  border-radius: 10px;
  border: 1px solid rgba(235, 226, 216, 0.9);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  box-shadow: 4px 4px 0px #a2d2ff;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.1rem;
}

p {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}

button {
  background-color: #a2d2ff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  color: #000;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 #000;
  transition: all 0.2s ease-in-out;

  margin-top: 1rem;
  
}

button:hover {
  opacity: 0.8;
  transform: translateY(-2px);
  cursor: pointer;
  background-color: lightpink;
}

.categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

#startPage, #webQuizPage, #geoQuizPage, #sportQuizPage, #finishedPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

div h2{
  margin-bottom: 1rem;
}

div ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div li {
  list-style: none;
  background-color: #a2d2ff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  color: #000;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 #000;
  transition: all 0.2s ease-in-out;

  width: 30%;
  margin-top: 1rem;
}

div li:hover{
  opacity: 0.8;
  transform: translateY(-2px);
  cursor: pointer;
  background-color: lightpink;
}

.centered-box {
  display: flex;
  justify-content: center;     
  align-items: center;         
  text-align: center;
  overflow-wrap: anywhere;     
  word-break: break-word;
  padding: 1rem;
}

.question {
  text-align: center;
  line-height: 1.4; 
  padding: 1rem;
}

.answers {
  display: grid;
  gap: 12px;
  width: 100%;
}

.answers li {
 list-style: none;
 background-color: #a2d2ff;
 border: 2px solid #000;
 border-radius: 8px;
 box-shadow: 3px 3px 0 #000;
 font-family: 'Press Start 2P', cursive;
 font-size: 0.6rem;
 color: #000;
 text-transform: uppercase;
 padding: 10px 20px;
 display: flex;
 justify-content: center; 
 align-items: center;
 transition: all 0.2s ease-in-out;
 width: 100%;
}
.answers li:hover {
  opacity: 0.8; 
  transform: translateY(-2px);
  cursor: pointer;
  background-color: lightpink;
}
